* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#cv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 5px;
    box-shadow: gray 10px 10px 10px 10px;
    width: 70%;
    margin-left: 15vw;
}

h1, h2 {
    background-color: darkred;
    color: blanchedalmond;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    width: 70vw;
    margin-left: 15vw;
    border-radius: 10px 10px 0 0;
}

h3 {
    font-family: cursive;
}

span {
    font-weight: bold;
    font-family: Serif, cursive;
}

img {
    width: 15vw;
    border-radius: 10px;
    margin-top: 10px;
}

#parcours {
    margin-top: 0.5rem;
}

#left {
    background-color: darkred;
    color: blanchedalmond;
    width: 25vw;
    padding: 1rem;
    text-align: center;
}

.language {
    font-style: italic;
}

.qualification {
    font-weight: bold;
    font-size: 2rem;
}

dl {
    margin: 0.5rem;
}

#corps {
    text-align: center;
}

#professional, #study {
    margin-top: 1rem;
}

.link, .contact {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contact {
    color: black;
}

li {
    list-style: none;
}

#langue {
    font-weight: bold;
}

/*Formulaire*/

#contentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

form {
    width: 20rem;
    height: auto;
    border-radius: 30px;
    text-align: center;
}

label {
    color: darkred;
    font-weight: bold;
    width: 2rem;
}

fieldset {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

@media screen and (max-width: 602px){
    body, .qualification {
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px){
    #left {
        height: 47vh;
    }
}

@media screen and (max-width: 406px){
    #left {
        height: 52.4vh;
    }
}

@media screen and (max-width: 379px){
    #left {
        height: 56.8vh;
    }
}